/bin/
/data/
/recipe-reader
.env
node_modules/
web/dist/
internal/webui/dist/*
!internal/webui/dist/.gitkeep
web/dist-ts/
web/*.tsbuildinfo

# Coverage profile written by `make test` (D6: measured and reported, never gated).
cover.out
